@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("../../public/bg-light.png");
    background-size: cover;
}

.card {
    @apply bg-card rounded-[32px] overflow-hidden shadow-lg;
}

.button-send {
    background: conic-gradient(
        from 185.98deg at bottom center,
        #6fb3c9 20%,
        #ba86ff 80%
    );
}
